# Python
__pycache__/
*.pyc
.venv/
venv/

# Node / Angular
node_modules/
dist/
.angular/

# Env / secrets
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker volumes / data
**/data.db
**/db_data/